<head>
<title> Bookmark Manager </title>
<style>
	body {
		color: #0a0a0a;
		background-color: #f7f7f7;
		font-family: Arial, Helvetica, sans-serif;
	}

	h1 {
		font-size: 2vw;
    letter-spacing: 2px;
	}
</style>
</head>
<body>


<h1>Add bookmark</h1>
<form action='/submit_bookmark' method='post'>
<input type='text' name='title' value='Title'>
<input type='text' name='url' value='URL'>
<input type='submit' value='Submit'>
</form>