<h1>Add bookmark</h1>
<form action='/submit_bookmark' method='post'>
<input type='text' name='title' value='Title'>
<input type='text' name='url' value='URL'>
<input type='submit' value='Submit'>
</form>